@font-face {
    font-family: "icons";
    src: url("icons/Icon-Regular.otf") format("opentype");
    src: url("icons/Icon-Regular.ttf") format("truetype");
    src: url("icons/Icon-Regular.eot"); /* IE9 Compat Modes */
    src: url("icons/Icon-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("icons/Icon-Regular.woff") format("woff"), /* Modern Browsers */ url("icons/Icon-Regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("icons/Icon-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
}

.icons {
    font-family: "icons", serif;
    font-size: 18px;
    color: #436682;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
}

.icons-select:before{
    content: "M";
}
.icons-move:before{
    content: "t";
}
.icons-dublicate:before{
    content: "O";
}
.icons-save:before{
    content: "L";
}
.icons-saveas:before{
    content: "i";
}
.icons-open:before{
    content: "h";
}
.icons-new:before{
    content: "d";
}


.icons-copy:before{
    content: "N";
}
.icons-paste:before{
    content: "F";
}
.item-title > .item-tools .icons-copy,.item-title > .item-tools .icons-paste{
    font-size: 230%;
}
.icons-copy,.icons-paste{
    font-size: 240%;
}
.icons-bold:before{
    content: "P";
}
.icons-italic:before{
    content: "Q";
}
.icons-line-through:before{
    content: "S";
}
.icons-underline:before{
    content: "R";
}
.icons-link:before{
    content: "I";
}
.icons-uppercase:before{
    content: "V";
}
.icons-lowercase:before{
    content: "U";
}
.icons-capitlize:before{
    content: "T";
}
.icons-line-height:before{
    content: "n";
}
.icons-indent-right:before{
    content: "o";
}
.icons-indent-left:before{
    content: "p";
}

.icons-text-left:before{
    content: "W";
}
.icons-text-center:before{
    content: "Y";
}
.icons-text-right:before{
    content: "X";
}
.icons-text-justify:before{
    content: "Z";
}





.icons-border-position-all:before{
    content: ":";
}
.icons-border-position-none:before{
    content: ";";
}
.icons-border-position-bottom:before{
    content: "<";
}
.icons-border-position-top:before{
    content: ">";
}
.icons-border-position-right:before{
    content: "=";
}
.icons-border-position-left:before{
    content: "?";
}
i[class*="icons-border-position"] {
    font-size: 20px;
}


.icons-delete:before{
    content: "K";
}
.icons-page:before{
    content: "H";
    margin: 0 3px;
    /*font-size: 120%;*/
}
.icons-checkbox-bottom:before{
    content: "$";
}
.icons-checkbox-top:before{
    content: "%";
}
.icons-checkbox-left:before{
    content: "&";
}
.icons-checkbox-right:before{
    content: "'";
}

i[class*="icons-checkbox"] {
    font-size: 41px;
}

.icons-plus:before{
    content: "A";
}
.icons-minis:before{
    content: "B";
}

.icons-bg:before{
    content: "s";
}




#elements .icons,#library .icons{
    color: white;
    font-size: 22px;
}
.icons-header:before{
    content: "c";
}
.icons-short-text:before{
    content: "a";
}
.icons-long-text:before{
    content: "D";
}
.icons-text:before{
    content: "T";
}
.icons-image:before{
    content: "w";
}
.icons-checks:before{
    content: "g";
}
.icons-radios:before{
    content: "l";
}
.icons-date:before{
    content: "b";
}
.icons-signature:before{
    content: "G";
}
.icons-phone:before{
    content: "m";
}
.icons-page-break:before{
    content: "r";
}
.icons-upload:before{
    content: "_";
}
.icons-dropdown:before{
    content: "q";
}
.icons-address:before{
    content: "/";
}
.icons-button:before{
    content: "#";
}


#rows .icons{
    color: white;
    font-size: 16px;
    padding: 4.5px 0;
}

.icons-rows-1:before{
    content: "(";
}
.icons-rows-2:before{
    content: ")";
}
.icons-rows-3:before{
    content: "*";
}
.icons-rows-4:before{
    content: "+";
}
.icons-rows-6:before{
    content: ",";
}
.icons-rows-12:before{
    content: ".";
}



#advance_setting .icons{

}
.icons-compass:before{
    content: "E";
    color: white;
    font-size: 43px;
    font-weight: 100;
}





.icons-close:before{
    content: "~";
}
.icons-undo:before{
    content: "u";
}
.icons-redo:before{
    content: "v";
}






@font-face {
    font-family: "admin-icons";
    src: url("icons/admin/Icon2-Regular.otf") format("opentype");
    src: url("icons/admin/Icon2-Regular.ttf") format("truetype");
    src: url("icons/admin/Icon2-Regular.eot"); /* IE9 Compat Modes */
    src: url("icons/admin/Icon2-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("icons/admin/Icon2-Regular.woff") format("woff"), /* Modern Browsers */ url("icons/admin/Icon2-Regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("icons/admin/Icon2-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
}

.admin-icons {
    font-family: "admin-icons", serif;
    font-size: 18px;
    color: #436682;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
}
#sidebar-menu .admin-icons {
    font-family: "admin-icons", serif;
    font-size: 31px !important;
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
}


.icons-next:before{
    content: "H";
}
.icons-previous:before{
    content: "I";
}
.icons-plus-circle:before{
    content: "J";
}
.icons-minis-circle:before{
    content: "K";
}

.icons-open-close:before{
    content: "\002b";
    /*content: "\2212";*/
}

.icons-main-category:before{
    content: 'A';
}
.icons-form-list:before{
    content: 'B';
}
.icons-trash:before{
    content: 'C';
}
.icons-rename:before{
    content: 'D';
}
.icons-sub-category:before{
    content: 'E';
}

.icons-background:before{
    content: 'F';
}
.icons-edit:before{
    content: 'G';
}

.icons-settings:before {
    content: "L";
}


.icons-hidden:before {
    content: "M";
}
.icons-unprintable:before {
    content: "N";
}
.icons-required:before {
    content: "O";
}
.icons-read-only:before {
    content: "P";
}
.icons-label:before {
    content: "T";
}

.icons-translator:before {
    content: "S";
}
.icons-users:before {
    content: "R";
}
.icons-form-b:before {
    content: "Q";
}
.icons-manage-categories:before {
    content: "A";
}

i.admin-icons.icons-label {
    font-size: 17px;
    line-height: 1.60;
}


























