#advance_setting .select {
    font-size: 13px;
    color: #fff;
    width: 83%;
    height: 36px;
}
#advance_setting .select-styled {
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 7px 9px;
    text-align: left;
}
#advance_setting .select-styled:after {
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: 3px;
}
#advance_setting .select-styled:hover {
    background-color: transparent;
}
#advance_setting .select-styled:active, .select-styled.active {
    background-color: transparent;
}
#advance_setting .select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
}
#advance_setting .select-options {
    display: none;
    position: absolute;
    top: 98%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    border: 1px solid black;
    background-color: #f7f7f7;
}
#advance_setting .select-options li {
    text-indent: 0;
    text-align: center;
}
#advance_setting .tools-group{
    height: 178px;
}


#choose-languages .select {
    width: 20%;
    height: 25px;
    float: right;
}
#choose-languages .select-styled {
    padding: 0px;
}
#choose-languages .select-styled:after {
    top: 7px;
    right: 3px;
}
#choose-languages .tagsinput .tag {
    width: 100%;
}
#choose-languages label {
    width: 53%;
    float: left;
}
#choose-languages .dropdown {
    width: 22%;
    float: right;
    margin-top: -4px;
}
#choose-languages .if-tools-btns {
    width: 19%;
    float: left;
    margin: -5px 10px 0 0;
    cursor: pointer;
}
#choose-languages .if-tools-btns button {
    font-size: 11px;
    padding: 0;
    width: 13px;
    margin: 0;
}


.right-panel {
    padding-right: 13px;
    padding-left: 0;
}
.right-panel .tools_panel {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    border-bottom: 1px solid rgb(96, 126, 152);
    border-top: 1px solid rgb(96, 126, 152);
    border-radius: 14px;
    background: rgb(96, 126, 152);
}
.right-panel .dropdown {
    width: auto;
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    transition: all .5s ease;
    position: relative;
    margin-top: 8px;
    font-size: 14px;
    color: #474747;
    text-align: left;
}



.display-languages textarea {
    width: 100%;
    resize: none;
    font-size: 11px;
    border-radius: 6px;
    height: 45px;
    outline: none;
}
.display-languages textarea:focus {
    border-color: #000;
}
.display-languages .tagsinput {
    border-radius: 6px;
}

#navigation {
    position: absolute;
    width: 100%;
}
#navigation .list {
    width: 100%;
    display: table;
    padding: 0 9px;
}
#navigation .list .list-item {
    cursor: pointer;
    display: inline;
    width: 48%;
    text-align: center;
    border-radius: 6px;
    background-color: #cfdae6;
    color: #436682;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    padding: 4px;
}
#navigation .list .list-item.active-tab{
    position: absolute;
    width: 44%;
    height: 45px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;



}
#navigation .list .list-item.active-tab:after {
    content: "";
    position: absolute;
    height: 7px;
    width: 20px;
    bottom: 9px;
}
#navigation .list .list-item[title='elements-layers']:after {
    right: -20px;
    border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    -webkit-box-shadow: -10px 0 0 0 #fff;
    box-shadow: -10px 0 0 0 #fff;
}
#navigation .list .list-item[title='form-layers']:after {
    left: -20px;
    border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    -webkit-box-shadow: 10px 0 0 0 #fff;
    box-shadow: 10px 0 0 0 #fff;
}
#navigation .list .list-item.active-tab[title='form-layers']{
    right: 9px;
}

.active-tab {
    background-color: #ffffff !important;
    color: #436682 !important;

}


.layers {
    font-size: 16px;
    color: #436682;
    padding: 5px 4px;
}
.layers ul {
    -webkit-padding-start: 0;
}
.layers ul {
    list-style: none;
}
.layers ul li {
    padding: 0;
}
.layers ul img {
    width: 15px;
    margin-right: 5px;
    margin-top: -5px;
    border-radius: 3px;
}
.layers .clickable-item {
    cursor: pointer;
}
.layers .selected-element {
    background-color: #f1f1f1;
}


#form-layers > ul li .subitem {
    -webkit-padding-start: 5px;
    border-bottom: 2px solid #cedbe5;
    padding-bottom: 4px;
    padding-top: 4px;
}

#elements-layers ul li .subitem {
    border-bottom: 2px solid #cedbe5;
    padding-bottom: 4px;
    padding-top: 4px;
}
#elements-layers > ul > li > .subitem {
    -webkit-padding-start: 10px;
}
#elements-layers > ul> li  > ul > li > .subitem {
    -webkit-padding-start: 28px;
}
#elements-layers > ul> li  > ul> li  > ul > li > .subitem {
    -webkit-padding-start: 50px;
}
#elements-layers > ul> li  > ul> li  > ul> li  > ul > li > .subitem {
    -webkit-padding-start: 71px;
}
#elements-layers .column-list {
    padding-top: 0;
    margin-top: 0;
}
#elements-layers ul img.row-icon {
    width: auto;
    margin-top: -1px;
    height: 7px;
}

.list-target {
    /*display: none;*/
}

.element-contains button {
    height: 21px;
    width: 30%;
    margin-top: 4px;
    float: right;
    border-radius: 16px;
    padding: 0;
    font-weight: 600;
    background-color: #cfdae6;
    color: #436682;
    border: 0;
}

.bottom-links {
    height: 32px;
    margin-top: -7px;
}

.bottom-links ul {
    list-style: none;
    padding: 0 20px;
}

.bottom-links ul li {
    display: inline;
}

.bottom-links i.icons {
    color: white;
    font-weight: 100;
    font-size: 25px;
}


.selection[title='selected-languages-a'],.selection[title='selected-languages-b']{
    height: 32px;
    background-color: transparent;
    border: none;
}

.selection[title='list-languages']{
    height: 26px;
    background-color: transparent;
    border: none;
    margin-top: -5px;
    width: 38px;
}