/*Settings*/
#condition_setting {
    z-index: 9999;
    height: auto;
    border-bottom: 2px solid rgb(96, 126, 152);
    border-top-left-radius: 11px;
    background: rgb(96, 126, 152);
}

#condition_setting label {

}

#condition_setting input[type="date"] {
    font-size: 14px;
    width: 100%;
}

#condition_setting .dropdown {
    width: 50%;
    float: left;
    padding: 0;
}

#conditions li {
    list-style: none;
    margin-bottom: -5px;
    padding: 6px 0;
}

#conditions .card-contentWrapper {
    background-color: #ededed;
    padding: 6px 12px;
    border-left: 3px solid #2a3f54;
    cursor: pointer;
}

#conditions select {
    border: #436682 solid 1px;
    border-radius: 18px;
    padding: 4px 7px;
    background-color: #607e98;
    color: white;
}

#conditions label {
    padding: 0 7px !important;
    float: left;
    height: 17px;
    text-align: left;
    font-size: 14px;
    color: #436682;
}

.full_condition_statement div[class$=sentance] {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}

.divider {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

#conditions .divider {
    border-bottom: 1px solid #ddd;

    padding-top: 0;
}

.add-remove-btns {
    margin: 12px 0;
    display: table;
    width: 100%;
}

.add-remove-btns button {
    background: #4c6680;
    border: 1px white solid;
    color: white;
    padding: 3px 7px 2px 7px;
    margin-bottom: 0;
    border-radius: 15px;
    width: 37px;
    font-size: 10px;
}

.add-remove-btns button.icons {
    background: white;
    border: 1px white solid;
    margin-top: -3.5px;
    color: #436682;
    padding: 1px;
    float: right;
    text-align: right;
    font-size: 17px;
    width: 18px;
}

.blue .bgColor {
    background-color: #3498db;
}

.conditions h4 {
    background-color: white;
    margin: 0;
    padding: 10px 11px;
    border-left: 11px solid #4c6680;
    border-top: 1px solid #4c6680;
    cursor: pointer;
}

.conditions.any-all {
    color: #fff;
    font-size: 15px;
    background-color: #2a3f54;
    padding: 10px 0;
    margin: 60px 0 10px 0;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.conditions.any-all .m-dropdownWrapper {
    width: 80px !important;
    margin: 0 10px;
}

.m-dropdownWrapper, #tethers .m-dropdownWrapper, .tethers .m-dropdownWrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 4px rgba(86, 70, 50, .1);
    border: 1px solid #d9cec1;
    border-radius: 2px;
}

.conditions.any-all .m-dropdownWrapper .m-dropdown {
    padding: 3px 5px 3px 8px;
    font-size: 14px;
    height: 27px;
    line-height: 19px;
    text-transform: uppercase;
}

.m-dropdown, #tethers .m-dropdown, .tethers .m-dropdown {
    -webkit-appearance: none;
    -moz-appearance: button;
    appearance: none;
    font: inherit;
    margin: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 24px;
    height: 36px;
    color: #564632;
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    outline: 0;
    border: 0;
    z-index: 3;
    width: 100%;
    border-radius: 2px;
}

*, #tethers * {
    box-sizing: border-box;
    transition: none;
}

*, #tethers *, .tethers * {
    outline: 0;
}

.m-dropdownWrapper select {
    background: none;
    color: #fff;
    border: 0;
    -webkit-appearance: none;
    padding: 10px;
    width: 100%;
}

.m-dropdownWrapper select option {
    background: #fff;
    color: #3e4652;
}

.conditions.any-all .m-dropdownWrapper .m-dropdown {
    padding: 3px 5px 3px 8px;
    font-size: 14px;
    height: 27px;
    line-height: 19px;
    text-transform: uppercase;
}

.m-dropdownMask, #tethers .m-dropdownMask, .tethers .m-dropdownMask {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    pointer-events: none;
    padding-top: 16px;
    text-align: center;
    background: #fff;
}

.conditions.any-all .m-dropdownWrapper .m-dropdownMask:before {
    top: 9px;
}

.m-dropdownMask:before, #tethers .m-dropdownMask:before, .tethers .m-dropdownMask:before {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #564632;
    position: absolute;
    top: 15px;
    right: 10px;
}

:after, :before, #tethers :after, #tethers :before {
    box-sizing: border-box;
}

.modal-sm{
    border: 3px solid #436682;
    border-radius: 9px;
}
.popup-msg .modal-sm{
    width: 400px;
}
.languages-labels{
    list-style: none;
    display: table;
    white-space: nowrap;
    float: left;
    width: max-content;
    height: inherit;
    padding: 0 11px;
    margin: 0;
}
.languages-labels li{
    display: inline;
    margin: 0;
    margin-right: 15px;
    float: left;
    list-style-type: none;
    width: 100px;
    padding: 0 0 0 0px;
    font-size: 15px;
}
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    min-width: 100%;
    width: min-content;
}
.dropdown-options .languages-table::-webkit-scrollbar {
    background-color: #394e61;
    width: 10px;
    height: 10px;
    border-radius: 0;
}
.dropdown-options .modal-body {
    padding: 5px 0px 0px 0px;
}
#sortable > li {
    margin: 2px 0;
    padding: 3px 0;
    float: left;
    position: sticky;
    font-size: 18px;
    text-align: center;
    width: 100%;

    line-height: 1.2em;
    background-color: #cfdae666;
    border-radius: 0;
    display: inline;
}
#sortable .languages-inputs-list{
    width: 100%;
}
#sortable .languages-inputs-list .icons-minus{
    font-size: 29px;
}
#sortable .languages-inputs{
    list-style: none;
    display: table;
    white-space: nowrap;
    float: left;
    width: max-content;
    height: inherit;
    padding: 0 7px;
    margin: 0;
}
#sortable .languages-inputs li{
    display: inline;
    margin: 0;
    margin-right: 15px;
    float: left;
    list-style-type: none;
    width: 100px;
    padding: 0;
}
#sortable .languages-inputs input{
    width: 100%;
    border: none;
    background-color: white;
    border: 1px solid black;
    padding-left: 5px;
    margin: 0;
    font-size: 12px;
    display: inline;
}


.dropdown-options .modal-sm{
    width: 30%;
}
.dropdown-options .languages-table{
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0 !important;
    margin: 0;
}
.dropdown-options .add-remove-btns{
    margin: 12px 0;
    display: table;
    margin-right: 11px;
    width: 5%;
    float: right;
    list-style: none;
}
#sortable .add-remove-btns{
    position: absolute;
    width: 26px;
    padding: 0;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: -3px;
}
.dropdown-options .add-remove-btns li{
    position: relative;
    margin: -4px 0 0 0;
    padding: 0;
    float: none;
    height: 0;
    line-height: 1;
}
#sortable .add-remove-btns .icons-minis{
    font-size: 23px;
}
.ui-state-highlight {
    line-height: 1.2em;
}

.categories-list{
    height: auto;
    max-height: 200px;
    min-height: 60px;
}
.categories-list ul:not(.categories-tools) {
    list-style: none;
    font-size: 16px;
    -webkit-padding-start: 0;
    margin: 0;
    height: 100%;

}
.categories-list {
    overflow-y: auto;
}
.categories-list ul:not(:first-child) {
    -webkit-padding-start: 10px;
}
ul.categories-tools {
    -webkit-padding-start: 0;
}
.categories-list ul:not(.categories-tools) li {

}
.categories-list .delete-category {
    position: absolute;
    right: 12px;
    margin-top: 4px;
}
.categories-list .edit-category {
    position: absolute;
    right: 37px;
    margin-top: 4px;
}
.categories-list h4 {
    margin-right: 7px;
    display: inline-table;
    width: 75%;
    cursor: pointer;
}
.categories-list .categories-tools {
    list-style: none;
    display: block;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom:  0;
    padding: 0;
    margin-top: 0;
}
.categories-list .categories-tools li {
    /* display: inline; */
}
.categories-list.open-form-from-db {
    display: inline-block;
    width: 49%;
    height: 200px;
}




.open-form-from-db.categories-list span{
    cursor: pointer;
}
.open-form-from-db.categories-list span a{
    color: black;
}
.open-form-from-db.categories-list ul:not(.categories-tools) li > span:not(.checkmark) {
    margin: 4px 0px 0 0;
    padding: 0;
    font-size: 13px;
    line-height: 0;
}
.categories-list ul:not(.categories-tools) li > span:not(.checkmark) {
    margin: 4px 0px 0 0;
    padding: 0 21px;
    font-size: 13px;
    line-height: 0;
}
/* The container */
.categories-list  .checkbox-btn,.categories-list  .radio-btn {
    display: block;
    position: relative;
    padding-left: 15px;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.categories-list  .checkbox-btn input,.categories-list .radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 2px;
    left: 0;
    width: 100%;
    height: 15px;
    z-index: 9999;
}

/* Create a custom checkbox */
.categories-list  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.categories-list  .checkbox-btn:hover input ~ .checkmark,.categories-list  .radio-btn:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.categories-list  .checkbox-btn input:checked ~ .checkmark,.categories-list  .radio-btn input:checked ~ .checkmark {
    background-color: #394e61;
}

/* Create the checkmark/indicator (hidden when not checked) */
.categories-list  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.categories-list  .checkbox-btn input:checked ~ .checkmark:after,.categories-list  .radio-btn input:checked ~ .checkmark:after {
    display: block;
}
.categories-list .radio-btn .checkmark:after {
    left: 2px;
    top: 2px;
    width: 7px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    background: #ffffff;
}
/* Style the checkmark/indicator */
.categories-list  .checkbox-btn .checkmark:after {
    left: 2px;
    top: 2px;
    width: 7px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    background: #ffffff;
}

#form_category_parts select[multiple] {
    width: 100%;
    min-height: 50px;
    height: max-content;
    max-height: 110px;
}
#form_field_target select {
    width: 100%;
}