.a4-page[page-size='A4'] {
    size:A4;
}
.a4-page[page-size='A4'] {
    size:A4;
}
.a4-page[page-size='A4'] {
    size:A4;
}
.a4-page[page-size='A4'] {
    size:A4;
}
.a4-page[page-size='A4'] {
    size:A4;
}
.a4-page[page-size='A4'] {
    size:A4;
}