
@import url(../fonts.css);


.cat-title{
    display: table;
    margin-bottom: 5px;
}
.cat-title img{
    display: table-cell;
    width: 30px;
    height: 30px;
}
.cat-title p{
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.panel{
    border: 1px solid rgba(213, 212, 211, 1);
    width: 100%;
    height: 500px;
}

.panel0{
    width: 84%;
    display: inline-block;
}
.panel1{
    width: 92%;
    display: inline-block;
}
.cat-panel2{
    width: 92%;
    display: inline-block;
}
.cat-panel22{
    position: relative;
    left: -8%;
    width: 100%;
    display: inline-block;
}
.panel11{
    width: 295px;
    display: inline-block;
    height: 500px;
}

.tools-bar{
    background: rgb(237,237,237);
}
ul.custom-item li.float-right img{
    padding-left: 5px;
}

.tools-bar .btn-cat{
    padding: 0;
    margin-bottom: 0;
    display: inline-flex;
    margin-right: 10px;
}
.tools-bar .tool-item{
    display: inline-block;
    padding-left: 5px;
    border-right: 2px solid rgb(246,246,246);
    cursor: pointer;
    padding-right: 5px;
}
.btn-cat.right-float .tool-item{
    border-left: 2px solid rgb(246,246,246);
    border-right: 0;
}
.tool-item img{
    height: 30px;;
}
.tools-bar input[type=checkbox]{
    vertical-align: middle;
}
.margin-70{
    margin-left: 70px;
}
.list-group{
    margin-bottom: 0;
    background: rgb(249,249,249);
}
.list-group img{
    height: 30px;
}
.list-group-item{
    /*    padding: 4px;
        padding-left: 6px;
        padding-right: 0px;
    */
    border: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: rgb(249,249,249);
    padding: 0;
    margin-bottom: 0;
}
.list-group .list-checkbox{
    margin-left: 1px;
}
.custom-item{
    padding: 0;
    margin-bottom: 0;
}
.custom-item li{
    display: inline-block;
}
.custom-item li:first-child{
    margin-left: 5px;
}
.custom-item .btn-cat.right-float{
    padding-left: 0;
}
.custom-item .btn-cat.right-float li{
    border-left: 2px solid rgb(246,246,246);
    border-right: 0;
    padding-right: 5px;
    padding-left: 5px;
}
.sub-list{
    width: 100%;
}
.newList{
    padding-left: 10px;
}
.record{
    padding-left: 0;
}
.list-group-item{
    cursor: pointer;
}
.list-group-item .list-group{
    padding-left: 35px;
}
.list-group-item .list-group-item .id-img{
    opacity: 0;
}
.custom-item{
    width: 100%;
}
li{
    cursor: pointer;
}
.caption-label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
}

.container-panel{
    width: 340px;
}
.fix-margin{
    margin-left: -15px;
}
.no-padding{
    padding: 0;
}

.panel2{
    position: absolute;
    width: 8%;
    height: 98.7%;
    background: rgb(189, 189, 189);
    color: white;
    display: inline-block;
    vertical-align: bottom;
    border-right: 1px solid gray;
    right: 0;
    top: 0;
    cursor: pointer;
}

.panel3{
    position: absolute;
    width: 8%;
    height: 98.7%;
    background: rgb(189, 189, 189);
    color: white;
    display: inline-block;
    vertical-align: bottom;
    border-right: 1px solid gray;
    right: 8%;
    top: 0;
    cursor: pointer;
}
.rotated{
    -ms-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
    -webkit-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
    transform: translateX(-100%) rotate(-90deg) translateZ(0px);
    -ms-transform-origin: right top 0;
    -webkit-transform-origin: right top 0;
    transform-origin: right top 0;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    position: absolute;
    width: 150px;
    left: 8px;
    bottom: calc(300px - 100vh);
}
.father{
    position: relative;
}
.centerd-text{
    text-align: center;
}
.bro{
    display: none;
    width: 364px;
    border: 1px solid rgba(213, 212, 211, 1);
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    background: rgb(249,249,249);
    margin-left: 339px;
    margin-top: 35px;
    z-index: 1;
}

.no-background{
    background: rgba(0,0,0,.0);
}

.bro1{
    display: none;
    width: 250px;
    position: absolute;
    border: 1px solid rgba(213, 212, 211, 1);
    left: 0;
    top: 0;
    height: 500px;
    background: rgb(249,249,249);
    margin-left: 368px; /*29*/
    margin-top: 35px;   /*0*/
    z-index: 1;
}

.black-font{
    color: black;
}

.info-container{
    width: 100%;
    padding: 10px;
}
.info-box{
    width: 100%;
    height: 100%;
    background: #fff;
}
.add-new-info{
    background: #fff;
    border: 0;
    padding: 5px;
    width: 100%;
}
.info label{
    color: black;
    padding: 5px;
}
.filter-value-list-item{
    width: 100%;
}
.filter-value-list-item ul{
    padding: 5px;
    background: white;
    height: 90px;
}
.info-label{
    background: rgb(3, 153, 255);
    padding: 5px;
    border-radius: 8px;
}
.item-label-container{
    position: relative;
    padding-left: 5px;
}
.edit-caption{
    position: absolute;
    top: 0px;
    left: 5px;
    width: 150px;
    font-size: initial;
    border: 1px solid rgba(213, 212, 211, 1);
    height: 100%;
    z-index: 4;
}
ul.list-group{
    color: black;
}

.custom-item.active{
    background: rgb(0, 156, 245);
    color: white;
}
.tags-div{
    /*min-height: 44.5px;*/
    background: white;
}
.right-float{
    float: right;
    margin: 0 6px;
}
.relative-box{
    position: relative;
}
.display-none{
    display: none;
}
.after-hide{
    position: static;
}
.cat-caption{
    display: table;
    text-align: center;
    width: 100%;
}
.cat-caption p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}
.conatainer-panel{
    border: 1px solid rgba(213, 212, 211, 1);
    height: calc(100vh - 150px);
    overflow-y: hidden;
}
#cat-panel1 .conatainer-panel ul.list-group:first-of-type{
    max-height: calc(100vh - 176px);
    overflow-y: auto;
}
#rel-val-div .conatainer-panel ul.list-group:first-of-type{
    max-height: calc(100vh - 203px); /*347px;*/
    overflow-y: auto;
}
#val-manager-div .conatainer-panel ul.list-group:first-of-type{
    max-height: calc(100vh - 275px); /*271px*/;
    overflow-y: auto;
}
.submittion-div {
    min-height: calc(100vh - 280px); /*271px*/;
    overflow-y: auto;
    overflow-x: hidden;
}
.street-info{
    padding: 0;
}
.tags-ul{
    padding: 0;
    text-align: center;
}
.tags-ul li{
    width: 95%;
    margin: 0;
    padding: 5px;
    margin: 0;
}
.color-sign{
    background-color: black;
    width: 16px;
    height: 13px;
    margin-top: 6px;
    border-radius: 3px;
}

.loading{
    display: block;
    position: absolute;
    z-index: 100;
    background: rgba(255,255,255,0.1);
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    cursor: wait;
}
.loading span{
    display: block;
    margin: 70px ;
}
.floatColorButton{
    position: relative;
    z-index: 100;
    width:16px;
    height: 13px;
    float: left;
    margin-top:6px;
    opacity: 0;
}

.add-form-builder-link{
    display: block;
    width:100%;
    padding: 50px 0px;
    background-color: #eee;
    text-align: center;
    font-size:32px;
    color:#23527c;
}
.add-form-builder-link:hover{
    background-color: #eee;
    color:#fff;
}
/*Switch*/
.onoffswitch {
    position: relative;
    width: 63px;
    float: right;
    margin-bottom: -3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block !important;
    float: right !important;
    margin-bottom: 0 !important;
    font-weight: 700 !important;
    color: #436682 !important;
    font-size: 100% !important;
    margin-top: 0 !important;
    overflow: hidden !important;
    cursor: pointer !important;
    border: 2px solid #436682 !important;
    padding: 0 !important;
    border-radius: 13px !important;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 21px;
    font-size: 100%;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "On";
    padding-left: 8px;
    background-color: #cfdae6;
    color: #436682;

}

.onoffswitch-inner:after {
    content: "Off";
    padding-right: 5px;
    background-color: #607e98;
    color: #ffffff;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    transform: rotate(32deg);
    background: #fff;
    box-shadow: 5px 3px 15px 0px grey inset;
    position: absolute;
    top: 0;
    bottom: 0px;
    margin-right: 1px;
    margin-top: 2pt;
    right: 29px;
    border: 0 solid;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 1px;
}
.form-item .admin-icons{
    font-size:26px !important;
}