.language-switcher{width: 100%;}
.language-switcher select{
    width: 100%;
    height: 35px;
    background-color: #536b83;
    color: white;
    font-size: 18px;
    padding-left: 11px;
}

.words-list{
    background-color: #ededed;
    min-height: 35px;
    max-height: 465px;
    overflow: auto;
}
.words-list ul{
    list-style: none;
    padding: 0 10px;
}
.words-list ul li{
    height: auto;
    padding: 10px 15px;
}
.words-list ul li span{

    display: block;
}
.words-list ul li:not(:last-child){
    border-bottom: 2px solid #9e9e9e;
}
.appended{
    height: auto !important;
    padding: 0 !important;
}
.appended textarea {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    padding: 10px 15px;
    font-size: inherit;
    margin: 0px auto;
    border-radius: 6px;
    border: 0;
    resize: none;

}
textarea:focus {
    outline-style: none;
    outline-width: 0;
}
.contenteditable{
    background-color: white;
    width: 100%;
    height: 100%;
}


.page-title .title_left h3 {
    display: inline-block;
    width: 185px;
}

.word-filter{

    display: inline-block;
}
.word-filter select{

    background-color: #536b83;

    color: white;

    height: 26px;
}












/*Switch*/
.onoffswitch {
    position: relative;
    width: 119px;
    float: right;
    margin-bottom: -3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block !important;
    float: right !important;
    margin-bottom: 0 !important;
    font-weight: 700 !important;
    color: #436682 !important;
    font-size: 100% !important;
    margin-top: 0 !important;
    overflow: hidden !important;
    cursor: pointer !important;
    border: 2px solid #436682 !important;
    padding: 0 !important;
    border-radius: 13px !important;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 21px;
    font-size: 100%;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "On";
    padding-left: 8px;
    background-color: #cfdae6;
    color: #436682;

}

.onoffswitch-inner:after {
    content: "Off";
    padding-right: 5px;
    background-color: #607e98;
    color: #ffffff;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    transform: rotate(32deg);
    background: #fff;
    box-shadow: 5px 3px 15px 0px grey inset;
    position: absolute;
    top: 0;
    bottom: 0px;
    margin-right: 1px;
    margin-top: 2pt;
    right: 97px;
    border: 0 solid;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 1px;
}

#first-switcher .onoffswitch-inner:before {
    content: "Translated";
    padding-left: 8px;
    background-color: #cfdae6;
    color: #436682;

}

#first-switcher .onoffswitch-inner:after {
    content: "Non Translated";
    padding-right: 5px;
    background-color: #607e98;
    color: #ffffff;
    text-align: right;
}

ul.btns-list {
    display: none;
    list-style: none;
}

ul.btns-list li {
}